h3{
  text-align: center;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
*{
  text-align: center;
}
button{
  font-size: 25px;
  font-weight: 500;
  color: wheat;
  background-color: black;
  margin: 1%;
}